<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>趣分享-分享你的快乐</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="dist/styles.css">
	<% include ./includes/head_common.ejs %>

</head>
<body>
	<!-- 导航条开始 -->
	<% include ./includes/nav.ejs %>
	<!-- 导航条结束 -->


	<script type="text/javascript" src="js/main.js"></script>

</body>
</html>